.banner {
  background-image: url('../../../public/image/digital_slider_1.jpg');
  background-size: cover;
  display: block;
  background-position: center;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  overflow: hidden;
}
.l_Banner {
  display: flex;
  align-items: center;
  height: 600px;
  margin: auto;

  overflow: hidden;
}
.bnr_delails {
  width: 42%;
  margin-left: 15%;
}
.bnr_delails h1 {
  font-weight: 700;
  color: #222222;
}
.bnr_delails h5 {
  font-weight: 600;
  color: #222222;
}
.detali {
  color: #747371;
  font-size: 17px;
  margin: 10px 0px;
}
.button_exs {
  border-radius: 40px !important;
  border: 2px solid black !important ;
  color: black;
  font-weight: 500;
  font-size: 16px;
  padding: 7px 37px 7px 37px;
  background-color: white;
}
.button_exs:hover {
  border: 2px solid rgb(181, 241, 241) !important;
  background-color: rgb(117, 187, 187) !important;
  color: white;
  box-shadow: 0px 10px 10px -8px black;
  transition-duration: 300ms;
}
